# Configuration for imap-feeder

# IMAP connection settings.
$host = ""
$user = ""
$pass = ""

# If you want to use a secure connection using ssl/tls, then uncomment the
# following two declarations.
#$port = "993"
#$use_ssl = true

# Base directory for imap-feeder
BASEDIR="#{ENV['HOME']}/.imap-feeder"

# We use html-tidy to improve the structure of the feed
$tidy_path = "/usr/lib/libtidy.so"


# Controls if the entries are sent as html or plain-text
# Values are:
#   :html
#   :plain
$format = :html

# imap-feeder needs a file to store the last message for each feed
# so it doesn't fetch old entries. Where should that file be?
$temp = "#{BASEDIR}/processed_feeds.yml"

# The configuration file that was generated
$config = "#{BASEDIR}/feeds.yml"

# The file that contains information about the currently running instance
$running_instance = "#{BASEDIR}/running_instance"

# Configuration for the logger (from `ri Logger.new`):
#
#------------------------------------------------------------ Logger::new
#     Logger::new(logdev, shift_age = 0, shift_size = 1048576)
#------------------------------------------------------------------------
#     Synopsis
#       Logger.new(name, shift_age = 7, shift_size = 1048576)
#       Logger.new(name, shift_age = 'weekly')
#
#     Args
#     +logdev+:     The log device. This is a filename (String) or IO
#                   object (typically +STDOUT+, +STDERR+, or an open
#                   file).
#
#     +shift_age+:  Number of old log files to keep, *or* frequency of
#                   rotation (+daily+, +weekly+ or +monthly+).
#
#     +shift_size+: Maximum logfile size (only applies when +shift_age+
#                   is a number).
#
$log = Logger.new "#{BASEDIR}/log.txt", 10

# The level can be set to: DEBUG < INFO < WARN < ERROR < FATAL
$log.level = Logger::WARN

$log.formatter = proc { |severity, datetime, progname, msg|
  "#{severity} (#{datetime}): #{msg}\n"
}
